# Analysing Fandango Movie Ratings

### In this project am going to analyse and investigate the ratings shown by Fandango( an American ticketing company that sells movie tickets via their website as well as through their mobile app).
#### We'll analyze more recent movie ratings data to determine whether there has been any change in Fandango's rating system after Hickey's analysis.

## Dataset
### In this project, their are two samples of dataset one sample was collected before Hickey's analysis and other one was collected after the anlysis.

In [80]:
# Creating environment 
import pandas as pd
import seaborn as sns

In [81]:
# reading the dataset
fandango_Score = pd.read_csv("fandango_score_comparison.csv")
movie_rating = pd.read_csv("movie_ratings_16_17.csv")

In [82]:
fandango_Score = fandango_Score.loc[:,['FILM', 'Fandango_Stars', 'Fandango_Ratingvalue', 'Fandango_votes', 'Fandango_Difference']].copy()

In [83]:
fandango_Score.head()

,FILM,Fandango_Stars,Fandango_Ratingvalue,Fandango_votes,Fandango_Difference
0,Avengers: Age of Ultron (2015),5.0,4.5,14846,0.5
1,Cinderella (2015),5.0,4.5,12640,0.5
2,Ant-Man (2015),5.0,4.5,12055,0.5
3,Do You Believe? (2015),5.0,4.5,1793,0.5
4,Hot Tub Time Machine 2 (2015),3.5,3.0,1021,0.5

In [84]:
movie_rating = movie_rating.loc[:,['movie', 'year', 'fandango']].copy()

In [85]:
movie_rating.head()

                     movie  year  fandango
0      10 Cloverfield Lane  2016       3.5
1                 13 Hours  2016       4.5
2      A Cure for Wellness  2016       3.0
3          A Dog's Purpose  2017       4.5
4  A Hologram for the King  2016       3.0

In [86]:
fandango_Score['Year'] = fandango_Score['FILM'].str[-5:-1]

In [87]:
fandango_Score.head(3)

,FILM,Fandango_Stars,Fandango_Ratingvalue,Fandango_votes,Fandango_Difference,Year
0,Avengers: Age of Ultron (2015),5.0,4.5,14846,0.5,2015
1,Cinderella (2015),5.0,4.5,12640,0.5,2015
2,Ant-Man (2015),5.0,4.5,12055,0.5,2015

In [88]:
fandango_Score['Year'].value_counts()b

SyntaxError: invalid syntax (<ipython-input-88-e0e1bd073e4c>, line 1)

In [ ]:
movie_rating['year'].value_counts()

In [ ]:
fandango_2015 = fandango_Score[fandango_Score['Year'] == '2015'].copy()
fandango_2016 = movie_rating[movie_rating['year'] == 2016].copy()

In [ ]:

print(fandango_2016['year'].value_counts())

In [ ]:
print(fandango_2015['Year'].value_counts())

In [ ]:
fandango_2015['Year'] = fandango_2015['Year'].astype(int)

In [ ]:
fandango_2016['year'] = fandango_2016['year'].astype(int)

In [ ]:
import matplotlib.pyplot as plt
from numpy import arange
%matplotlib inline

fandango_2015['Fandango_Stars'].plot.kde(label='2015',legend=True)
fandango_2016['fandango'].plot.kde(label='2016', legend=True)